[Unit]
Description=Daemon manages PFR dbus properties and Event logs
Wants=mapper-wait@-xyz-openbmc_project.EntityManager.service
After=mapper-wait@-xyz-openbmc_project.EntityManager.service
Wants=mapper-wait@-xyz-openbmc_project.ObjectMapper.service
After=mapper-wait@-xyz-openbmc_project.ObjectMapper.service

[Service]
Restart=on-failure
ExecStart=/usr/bin/pfr-manager
RestartSec=5
StartLimitInterval=0
SyslogIdentifier=pfr-manager
Type=dbus
BusName=xyz.openbmc_project.PFR.Manager

[Install]
WantedBy=multi-user.target
