[Unit]
Description=Daemon manages PFR dbus properties and Event logs
After=xyz.openbmc_project.EntityManager.service
After=xyz.openbmc_project.ObjectMapper.service

[Service]
ExecStartPre=/bin/sleep 30
Restart=on-failure
ExecStart=/usr/bin/checkPfrPlatform.sh
RestartSec=5
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
